


/* type selectors */
html {
	/*background:linear-gradient(0.25turn,#DBE7B6,#ffffff,#f2d2df);
        /*background:linear-gradient(0.25turn,#005fb2,#ffffff,#e69c23);*/
        /* the audio page will use the 77738b,  be sure to put back */
        background:#888c74;
		text-rendering: optimizeLegibility;
        /*background:#3b978a;*/
    color: #900310; }

body {
	font-family: "Bradley Hand Bold","Verdana", "Arial","Helvetica", sans-serif;
	font-size: 100%;
	width:100%;                       /* changed from 990 pixels */
	max-width: 1204px;                /* maximum width of page */
	
	margin: 0 auto;
	text-rendering: optimizeLegibility;
	 padding: .25em;    
	
}

p {
	font-size: .875em;
	padding-bottom: .5em;
	line-height: 1.3;
}
em {
	font-weight: bold;
}
a {
	font-weight: bold;
	text-decoration: none;
}
a:link, a:visited {
/*	color: #3F2860; */
        color: #000000;
}
a:hover, a:focus {
	color: #b7b5c1;
}

/* the styles for the header */
header {
	width: 100%;                         /* full width of body */
	padding-bottom: 1em;
	background-repeat: no-repeat;
	
}
header h2 {
	font-size: 2.25em;
	color: #f2972e;
	text-shadow: 2px 3px 0 black;
	margin-left: 12.12121%;              /* 120 / 990 */
	margin-bottom: .25em;
}
header h3 {
	font-size: 1.25em;
	font-style: italic;
	margin-left: 12.12121%;              /* 120 / 990 */
	margin-bottom: .25em;
}
header img {
	width: 90%;                      /* 80 / 990 normally, but using 100% in this case */
	max-width: 701px;                     /* native size */
	min-width: 40px;
/*	float: left;
/*	margin-left: 2.0202%;                /* 20 / 990 */
        margin-left: 1.067%;                /* 20 / 990 */
        padding-bottom: 1em;
}
/* the styles for the navigation  */
/* the styles for the navigation menu - operation */
#nav_menu ul {
	width: 100%;                        /* full width of body */
	list-style-type: none;
	position: relative;
}
#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
#nav_menu ul ul li {
	float: none;
	position: relative;
}
#nav_menu ul ul li ul {
	position: absolute;
	left: 100%;
	top: 0;
}
#nav_menu ul li.lastitem ul li ul {
	position: absolute;
	left: -100%;
	top: 0;
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}
/* the styles for the navigation menu - formatting */
#nav_menu ul {
	margin: 0;
	padding: 0;
}
#nav_menu ul li {
	width: 30%;                         /*Nav size for screens > 771 px*/
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	padding: .7em 0;
	background-color: #888c74;
}
#nav_menu ul li a.current {
	color: #b7b5c1 !important;
}
#nav_menu ul li:hover ul {
	width: 100%;
}
#nav_menu ul li:hover ul li:hover ul li {
	width: 100%;
}
/* hide the mobile menu  */
#mobile_menu {
	display: none;
}
/* the styles for the section */
section {
	width: 95%;                            /* 535 / 990 */
	/*float: left;   /*
    margin: 0 auto;
	margin-left: 2.0202%;             /* 20 / 990 */
	margin-right: 2.0202%; 
	padding: 1.5em 2.52525% 0 0;      /* 25 / 990 */
}
section img{width: 100%;
            max-width: 200px;
            max-height: 200px;
            padding: 2em}
			
section ul {
	margin-top: 0;
	margin-bottom: 1.5em;
}
section li {
	font-size: .875em;                /* 14 / 16 */
	padding-bottom: .35em;
}
iframe { border:none;overflow:hidden;}
section h1 {
	font-size: 1.75em;
	margin-bottom: .35em;
}
section h2 {
	font-size: 1.25em;
	margin-bottom: .35em;
}
video {
	width:100% ;
}
/*a.date_passed {
	color: gray;
} */

	
	/*audio goes here*/
	

/* the styles for the footer */
.footercl {text-align: center;
		font-style: italic;
		font-size: small;
		color:#a22358;
		clear: right;
		}
.black     {color:#292f36;font-size: 120%;
            display: block;
           margin-left: auto;
           margin-right: auto;
		   border-collapse:separate;
           border-spacing:15px 15px;
           }
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}	  
.centerTitle {
  text-align:center;
  font-size:222%;
  font-weight:bold;
  color:#900310;
}	  
.podcast-container {
    position: relative;
    padding-bottom: 16.25%;
    padding-top: 35px;
    height: 0;
	color:#a22358;
    overflow: hidden;
}

.podcast-container iframe {
    position: absolute;
    top:0%;
    left: 0%;
    width: 75%;
    height: 75%;
}
/*.audiopage {
background:#3b+89a;
}*/
.videoplayer {
	
	
	max-height: 92%; 
 max-width: 92%; 
 height: auto !important;
 width: auto !important; 
}
        
#flow {display:block;}  	
#container{width: 100%; height: 100%; overflow: hidden;}	
#gallery {display: flex;
          flex-direction:column;
          flex-wrap:nowrap;
          justify-content: space-around;}
.odd {color:#000000;font-weight:bold;}
.oddsh1 {color:#b7b5c1;font-weight:bold;
/*font-family: "Bradley Hand Bold","Segoe Print","Verdana","Arial","Helvetica", sans-serif;/*/
font-family: "Bradley Hand Bold","Verdana", "Arial","Helvetica", sans-serif;
  text-align:center;
  font-size:295%;
  font-weight:bold;
  
  text-shadow: 2px 2px 3px black;
  
  
}	  
/*table*/
table { border: 1px solid #40407A;
        color:#000000; 
        margin-bottom:1em;
        margin-left:auto;margin-right:auto;
/*		min-width:100px; */
		border-collapse: collapse;
        text-align:center;
		
		
		}
caption {caption-side: top;
         text-align:center;
         margin: 1em;
		 font-weight: bold;
		 font-size:120%;
		 }
/*td,th { border: 1px solid #40407A; padding: 0.5em;}*/
/*BORDER COLOR*/

td,th { border: 1px solid silver; padding: 0.5em;color:#000000;}

tbody td{text-align: center; }
tr:nth-of-type(even) { background-color:#77738b; } 
tr:nth-of-type(odd) { background-color:#b7b5c1; } 

form { display: flex;
       flex-flow: column nowrap;}
input, datalist textarea { margin-bottom: .5em;}

audio {
    width: 210px;
    height: 26.25px;
    -webkit-appearance: none;
}


/* HIDE DOWNLOAD BUTTON OF AUDIO */
audio::-internal-media-controls-download-button {
    display:none;
}
audio::-webkit-media-controls-enclosure {
    overflow:hidden;
	-webkit-appearance: none;
}
audio::-webkit-media-controls-panel {
 /*   width: calc(100% + 33px);*/
    /*background-color: #94bddc;*/
	background-color:#ffffff;
	opacity:.91;
    -webkit-appearance: none;
}  
audio::-webkit-media-controls-play-button {
    -webkit-appearance: media-play-button;
    display: flex;
    flex: none;
    border: none;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-left: 9px;
    margin-right: 9px;
    padding: 0;
    background-color: initial;
	color:white;
    /*color: inherit;*/
}





/*audio {margin-bottom:.25em; }
    /*    max-height: 92%;
    /*    max-width: 92%;}
		
/*		margin:auto;

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/

}
footer{
    
    
    text-align:center;
    font-size:small;
    
   /* padding-top: 40px; */
    color: #fff;
}
footer p {
	font-size: .6875em;
	text-align: center;
        color:#000000;
}
footer iframe {
	img-align: center;
}

#specialTable
/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; border:none; 
	}
	th{display:none;}
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: none;text-align:center; }
	tr td:first-child {
		font-weight: bold;
		font-size:120%;
		text-transform: uppercase;
	}
	td { 
		/* Behave  like a "row" */
		border: none;
		/*border-bottom: 1px solid #eee; */
		position: relative;
		padding-left: 5%; 
		text-align:center;
		font:120%;
		
		
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		
		/*padding-right: 10px; */
		white-space: nowrap;
		
}


}

	/* media queries */

/* decrease font sizes to keep content from rolling */
@media only screen and (max-width: 886px) {
    #specialTable tr td:first-child {
		font-weight: bold;
		font-size:100%;
		
	}

	section h1 {
	    font-size: 1.5em;
    }
	#nav_menu ul li a {
		font-size: .875em;
	}
}

	
/* decrease font sizes to keep content from rolling */
@media only screen and (max-width: 837px) {
	#specialTable tr td:first-child {
		font-weight: bold;
		font-size:120%;
		
	}
	section h2, aside h2 {
		font-size: 1.125em;
	}
	aside h3 {
	    font-size: .9375em;
    }
}
header img {
width: 100%}
body {width:100%};
section{100%;}
/* remove floating from section, aside, and header image and display mobile menu */
@media only screen and (max-width: 771px) {
   #specialTable tr td:first-child {
		font-weight: bold;
		font-size:1.25em;
	}   
	
	section {text-align:center;}
   #nav_menu ul li {
	width: 38%;       font-size:.9em;                  /*Nav size for screens > 771 px*/
}
#nav_menu ul li a {
	text-align: justify;
	display: block;
	padding: .2em 0;
}
    
    .slicknav_menu {
        background-color: #888c74 !important;	
    }
    body {
        width: 100%;                           /* full width of screen */
        margin: .25em;                             /* no margins */
        border: none;                          /* no border */
    }
    header, footer p {
        text-align: center;
    }

	header img {
        float: none;
		margin-left: 0;
    }
    header h2 {
        font-size: 1.625em;
        margin: .4em 0 .25em 0;
    }
    header h3 {
        font-size: 1em;                        /* base font size */
        margin-left: 0;
    }
    footer p {
		margin-right: 0;
	}
    section {
        width: 92%;                       /* 100 - (2 * 2.0202) for padding */
        float: none;
        margin-right: 2.0202%;                 /* 20 / 990 */
        padding-right: 0;
    }
	section h1 {
		font-size: 120%;
	}
    aside {
        width: 91.9192%;                       /* 100 - (4 * 2.0202) for padding and margins */
        float: none;
        margin: 0 2.0202% 2.0202% 2.0202%;     /* 20 / 990 */
    }
}

/* decrease font sizes */
@media only screen and (max-width: 480px) {
	#specialTable tr td:first-child {
		font-weight: bold;
		font-size:101%;
		
	}
	header h2 {
		font-size: 1.375em;
	}
	header h3 {
		font-size: .875em;
	}
	   
}

/* decrease font sizes to prevent rolling */
@media only screen and (max-width: 410px) {
    #specialTable tr td:first-child {
		font-weight: bold;
		font-size:.9375em;
		
	}
	header h2, section h1, aside h2 {
        font-size: .9375em;
    }
    header h3 {
        font-size: .75em;
    }
	section h2 {
        font-size: 1em;                        /* base font size */
    }
    aside h3 {
        font-size: .9375em;
    }
    footer p {
        font-size: .6875em;
    }
	section{width:96%;font-size:.9375em;}
	body{width:96%;font-size:.9375em;}
	.
   	
}
